/* RESET */
  script {
      display:none !important;
    }
  * {
    font-family: inherit;
    line-height: 125%;
    margin: 0;
    padding: 0;
  }
  html {
    font-family: sans-serif;
    font-size: 62.5%;
    line-height: 78.125%;
    -webkit-text-size-adjust: 100%;
  }
  body {
    color: #222222;
    font-size: 1.8rem;
    line-height: 125%;
    margin: 0;
    padding: 0;
  }
  body > div {
    max-width: 100%;
  }
  h1 {
    font-size: 2.4rem;
    margin-bottom: .7em;
    margin-top: .7em;
  }
  h2 {
    font-size: 2.2rem;
  }
  h3 {
    font-size: 2.0rem;
  }
  h4 {
    font-size: 1.8rem;
  }
  a[x-apple-data-detectors] {
    /* tell iOS not to style phone numbers */
    color: inherit !important;
    font-family: inherit !important;
    font-size: inherit !important;
    font-weight: inherit !important;
    line-height: inherit !important;
    text-decoration: none !important;
  }
/* VARIABLES */
  :root {
    --main-color: #e41b5b;
  }
/* GLOBAL */
  html {
    background: #ffffff;
  }
  body {
    font-family: 'Dosis', sans-serif;
  }
  a {
    color: var(--main-color);
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  blockquote {
    font-size: 2.2rem;
    font-style: italic;
    font-weight: 700;
    margin: 0 0 1em 0;
  }
  p {
    margin-bottom: 1em;
  }
  nav ul {
    display: flex;
    flex-wrap: wrap;
  }
  nav li {
    flex: 0 1 auto;
    list-style: none;
    padding: .3rem 0;
  }
  nav a {
    display: inline-block;
    line-height: 4.4rem;
    outline: 0;
    padding: 0 .3em;
  }
/* CONTENT MAIN */
  #contentMain {
    background: #ffffff;
  }
  #contentMain main {
    display: block;
    /* ^ needed to fix IE's derp */
    max-width: 92rem;
    margin: 0 auto;
    padding: 5rem 0;
    width: 90%;
  }
/* HEADER */
  #headerMain {
    background: #222222;
  }
  #headerMain header {
    max-width: 92rem;
    margin: 0 auto;
    width: 90%;
  }
  #headerMain a {
    color: #ffffff;
    font-size: 1.8rem;
    text-decoration: none;
  }
  #headerMain li:first-child a {
    color: var(--main-color);
    font-family: Georgia,'Times New Roman','Times',serif;
    font-size: 2.4rem;
    margin-left: -.3em;
  }
  #headerMain a:hover {
    color: var(--main-color);
  }
/* FOOTER */
  #footerMain footer {
    border-top: .2rem solid var(--main-color);
    color: #222222;
    font-size: 1.6rem;
    max-width: 92rem;
    margin: 0 auto;
    padding: 1em 0;
    width: 90%;
  }
/* SUBCONTENT NAV */
  .subcontentNav {
    background: #dddddd;
    border-radius: .4rem;
    display: inline-block;
    margin-bottom: .8rem;
    position: relative;
    top: -2rem;
  }
  .subcontentNav li {
    line-height: 2em;
    padding: 0;
  }
  .subcontentNav a {
    color: #888888;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 3.4rem;
  }
  .subcontentNav a:hover {
    color: var(--main-color);
    text-decoration: none;
  }
/* TESTIMONIALS */
  .quoteList li {
    border-top: .1rem dotted #aaaaaa;
    list-style-type: none;
    padding: 1em 0em;
  }
/* MOODBOARDS */
  .moodboards .listItem {
    display: inline-block;
    height: 430px;
    margin: 0 2em 2em 0;
    width: 265px;
  }
/* WEBSITES */
  .websites .listItem {
    background: #000000;
    padding: .5rem;
    margin: 0 0 3rem 0;
    overflow: hidden;
  }
  .websites .listItem img {
    float: left;
    width: 100%;
  }
  .websites .listItem ul {
    box-sizing: border-box;
    clear: both;
    color: #dddddd;
    padding: 2rem 3rem 2rem 3rem;
    width: 100%;
  }
/* WATCHES */
  .watches .watch {
    display: inline-block;
    height: 180px;
    margin: 10px 10px 0px 0px;
    width: 180px;
  }
  .watches img {
    height: 180px;
    width: 180px;
  }
/* CONTACT */

/* READING LIST */
  .recommended a {
    color: #444444;
  }
  .recommended blockquote {
    background: #dddddd;
    border-radius: 1rem;
    padding: .5em 1em;
  }
  .recommended blockquote a {
    color: #555555;
  }
  .recommended blockquote a:hover {
    text-decoration: none;
  }
  .recommended .listItem {
    border-bottom: .1rem dotted #aaaaaa;
    padding: 1em 0;
  }
