<nav-projects>
  <nav class="subcontentNav">
    <ul>
      <li><a href="#!/projects/">Moodboards</a></li>
      <li><a href="#!/projects/websites/">Websites</a></li>
    </ul>
  </nav>
</nav-projects>
